body {
	background: none; 
}

.fullscreen {

    margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 600px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 600px;
	background-color: rgb(33,33,43);
}
